/* Custom CSS File for the impress presentation */
/* To add Google Fonts, one option is to use @import(url('')); if you do, it must go before all other declarations except @charset
 * another option is to create a font source block. This will allow you to have a local fallback. It also allows Truetype fallbacks an so on.
 *
 *
 *
 * An example block below 
 * @font-face {
 * font-family: 'Satisfy';
 *  font-style: normal;
 *  font-weight: 400;
 *  src: local('Satisfy') url(http://themes.googleusercontent.com/static/fonts/satisfy/v4/tmRzDlQs5wZmOn9mIuLa-QLUuEpTyoUstqEm5AMlJo4.woff) format('woff'),
 *  local('Satisfy') url('Satisfy.woff') format('woff'); 
 * }
 *
 *
 * */


/* Tag Markup */
body{
    min-height: 740px;
    font-family: 'Helvetica', sans-serif;
    background: radial-gradient(rgb(180,180,200), rgb(190,190,240));
}

li {
    margin-bottom: 5px;
}
/* Impress-related markup */
.slide {
    width: 900px;
    height: 700px;
    padding: 40px 60px;

    font-size: 30px;

    background: rgba(255, 255, 255, .66);
}

.step{
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    box-sizing: border-box;
}

/* make the non-active steps transparent */
.step:not(.active) { opacity: 0.33; }

/* Per-slide Markup uses .impress-on-slideID */


/* specific divs */
#navbar{
   font-size: 18px;
   position: fixed; 
   height: 12px; 
   top: 0; 
   left: 0; 
   color: rgba(0,0,0,0.5);
}
#title p{
    font-size: 12px;
    position: absolute;
    bottom: 0px;
}

#dissemination h2{
    position: relative;
    left: 300px;
}

#theSolution2 img{
 float: right;
}

#Conclusion {
    padding-top: 200px;
}
#Conclusion p{
    font-family: Courier, monospace; 
    text-align: center;
}
#workflows em{
    font-size: 18px;
}
#stats, #libimg, #workflowimg, #workflows, #vocabs, #vocabsimg {
    width: 400px;
    float: left;
}
